.userInfo {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  @media(max-width: 800px){
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: end;
  grid-template-columns: 20% 20%;
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: bold;
  @media(max-width: 800px){
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

p:nth-child(2n), a:nth-child(2n) {
  justify-self: start;
  padding-left: 10px;
  font-weight: 100;
  @media(max-width: 800px){
    padding-left: 0px;
    justify-self: center;
  }
}

a:nth-child(2n) {
  text-decoration: none;
}

.profilePicture {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.profilePicture img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  @media(max-width: 800px){
    width: 150px;
    height: 150px;
  }
}