.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
	height: 50vh;
  width: 50vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 20px;
}

.card form {
  width: 100%;
  flex-grow: 1;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.cardElement {
  width: 60%;
}

.cardElement input {
  width: 100%;
  height: 3em;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: 0;
  text-align: center;
}

.cardFooter {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  justify-content: center;
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cardFooter a {
  text-decoration: none;
}

.cardFooter a:hover {
  text-decoration: underline;
}

.error {
  background-color: rgb(255, 200, 200);
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  border-radius: 10px;
  margin-bottom: 10px;
}