@import "../../../assets/stylesheets/colors.scss";

.hideMenu {
  display: none;
}

.showMenu {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  text-align: center;
  width: 100px;
  height: 80px;
  padding-top: 10px;
  justify-content: center;
  background-color: white;
  border: 1px solid $nav-bar-input-border-focus;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown {
  position: relative;
  display: block;
  text-align: center;
  display: inline-block;

  & button:focus-visible {
    outline: auto;
  }
}

.activeUser {
  width: 300px;
  font-size: large;
}
