/*
  Add colors as variables here like this:

  $color-name: #000000;

  Please refrain from adding code that generates CSS.
*/

$sky-blue: #56baec;
$grey: #f6f6f6;
$sky-blue-disabled: #94a8b280;
$sky-blue-on-hover: #79c7ee;