/*
  Add colors as variables here like this:

  $color-name: #000000;

  Please refrain from adding code that generates CSS.
*/

$sky-blue: #56baec;
$grey: #f6f6f6;
$sky-blue-disabled: #94a8b280;
$sky-blue-on-hover: #79c7ee;
$nav-bar-border: #cecece;
$nav-bar-input-background: #ededed;
$nav-bar-input-border-focus: #9c9c9c;
$web-name-start-color: #121FCF;
$web-name-end-color: #CF1512;
$black: #000000;
